<div
	id='logo-animation-sprite'
	class='w-[90vw] sm:w-[70vw] lg:w-[50vw]'>
</div>
<script>
	import lottie from 'lottie-web';

	const logoAnimation = document.querySelector<HTMLElement>(
		'#logo-animation-sprite'
	);
	if (logoAnimation) {
		console.log('Logo animation loaded');
		lottie.loadAnimation({
			container: logoAnimation, // the dom element that will contain the animation
			renderer: 'svg',
			loop: true,
			autoplay: true,
			path: '/lottie/15breitloop_zipped.json', // the path to the animation json
		});
	}
</script>
