<div
	id='logo-animation-sprite'
	class='w-[1500px] h-[300px] border'>
</div>
<script>
	const img = document.querySelector<HTMLImageElement>(
		'#logo-sprite-animation'
	);
	let spriteCounter = 1000;
	const animation = () => {
		if (spriteCounter < 1167) {
			spriteCounter++;
			if (img) {
				img.src = `/images/logo_animation_sequences/version ${spriteCounter}.png`;
			}
		} else {
			spriteCounter = 1000;
		}
		requestAnimationFrame(animation);
	};
	//requestAnimationFrame(animation);
</script>
