<section class='px-sm py-lg'>
	<div class='max-w-normal mx-auto flex flex-col gap-md'>
		<h2 class='text-center subtitle'>Auswahl unserer Kunden</h2>
		<div class='grid grid-cols-2 md:grid-cols-4 gap-sm'>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
			<div class='w-full aspect-video bg-gray-100'></div>
		</div>
	</div>
</section>
