---
import { clientLogos } from '../../utils/useClientLogos';
---

<section class='py-lg'>
	<div class='flex flex-col items-center gap-md overflow-x-hidden'>
		<h2 class='subtitle'>Auswahl unserer Kunden</h2>
		<div class='logo-container relative h-[150px]'>
			{
				clientLogos.map((logo) => (
					<div class='h-full aspect-video absolute'>
						<img
							src={logo.src}
							alt={logo.alt}
							class='w-full h-full object-contain'
						/>
					</div>
				))
			}
		</div>
	</div>
</section>

<script>
	const container =
		document.querySelector<HTMLElement>('.logo-container');
	const imageObjects = container?.querySelectorAll('div');

	let containerOverflowPercentage = 180; // Adjust this when adding more logos

	const setInitialPosition = () => {
		if (window.innerWidth < 768) {
			containerOverflowPercentage = 350;
		} else if (window.innerWidth < 1024) {
			containerOverflowPercentage = 250;
		}
		container?.style.setProperty(
			'width',
			`${100 + containerOverflowPercentage}%`
		);
		imageObjects?.forEach((imgObj, i) => {
			imgObj.style.setProperty(
				'left',
				`${((100 + containerOverflowPercentage) / imageObjects.length) * i}%`
			);
		});
	};

	let lastTime = 0;
	const speed = 2; // pixels per second
	const animation = (currentTime: any) => {
		if (!lastTime) lastTime = currentTime;
		const deltaTime = (currentTime - lastTime) / 1000; // convert to seconds
		lastTime = currentTime;

		imageObjects?.forEach((imgObj, i) => {
			const leftValue = parseFloat(
				imgObj.style.getPropertyValue('left')
			);
			const moveAmount = speed * deltaTime; // consistent movement regardless of frame rate

			if (leftValue <= 0) {
				imgObj.style.setProperty(
					'left',
					`${100 + containerOverflowPercentage}%`
				);
			} else {
				imgObj.style.setProperty(
					'left',
					`${leftValue - moveAmount}%`
				);
			}
		});

		requestAnimationFrame(animation);
	};

	setInitialPosition();
	requestAnimationFrame(animation);
</script>
