---
import type { SmartopsPage } from '../../utils/useSchemas';
import ContactDark from '../Svg/Icons/ContactDark.astro';
import ShortArrow from '../Svg/Icons/ShortArrow.astro';

interface Props {
	story: {
		full_slug: string;
		content: SmartopsPage;
	};
}
const { story } = Astro.props;
const cuttedSlug = story.full_slug.split('/')[0];
const slug = cuttedSlug.charAt(0).toUpperCase() + cuttedSlug.slice(1);
---

<aside class='px-sm'>
	<div class='max-w-paragraph mx-auto flex max-sm:flex-col gap-md sm:gap-lg items-start'>
		<ContactDark class='w-[100px] h-auto shrink-0' />
		<div class='flex flex-col gap-md'>
			<div class='flex flex-col gap-sm'>
				<div class='font-bold text-gray'>{slug}</div>
				<div class='subtitle'>{story.content.page_title}</div>
			</div>
			<div>
				Nutzen Sie unsere Expertise, um Ihre Ideen voranzubringen. Kontaktieren Sie uns jetzt und
				erleben Sie, wie wir gemeinsam zuverlässige Lösungen entwickeln!
			</div>
			<a
				href='/kontakt'
				class='font-bold flex items-center gap-xs self-start'>
				<span>Kontakt</span><ShortArrow class='rotate-180 h-[20px] w-auto' /></a
			>
		</div>
	</div>
</aside>
