---
import Geo1 from '../Svg/Background/geo1.astro';
import Geo2 from '../Svg/Background/geo2.astro';
import Contact from '../Svg/Icons/Contact.astro';
import SmartopsWhite from '../Svg/Logos/SmartopsWhite.astro';
import Solar from '../Svg/Icons/Solar.astro';
import Wind from '../Svg/Icons/Wind.astro';
---

<footer
	id='index-footer'
	class='gsap-footer-container px-sm py-lg bg-dark text-light relative overflow-hidden min-h-[100vh] flex'>
	<div
		class='max-w-big mx-auto w-full flex flex-col justify-between gap-xl'>
		<a
			href='/'
			class='self-center gsap-footer-element z-[1]'>
			<SmartopsWhite class='w-[300px] h-auto' />
		</a>
		<div class='flex flex-col gap-md z-[1]'>
			<Contact class='gsap-footer-element' />
			<a
				class='title font-normal gsap-footer-element self-start'
				href='mailto:info@smartops.de'
				>info@smartops.de</a
			>
			<p class='max-w-[500px] gsap-footer-element'>
				Ob erste Fragen oder konkrete Ideen – wir freuen uns darauf,
				gemeinsam mit Ihnen die nächsten Schritte zu gehen!
			</p>
			<div class='flex flex-col gap-xs'>
				<a
					href='tel:+4956134337'
					class='gsap-footer-element'
					>fon. +49 561 34337</a
				>
				<p class='gsap-footer-element'>fax. +49 561 34339</p>
			</div>
			<div class='lg:hidden flex gap-sm items-center'>
				<div class='pt-[7px]'>
					<Solar class='gsap-footer-element' />
				</div>
				<Wind class='gsap-footer-element' />
			</div>
		</div>
		<div class='h-sm'></div>
	</div>
	<div
		class='absolute bottom-sm left-[50%] translate-x-[-50%] flex gap-sm z-[1]'>
		<a
			href='/impressum/'
			class='gsap-footer-element'
			>Impressum</a
		>
		<a
			href='/datenschutz/'
			class='gsap-footer-element'
			>Datenschutz</a
		>
	</div>
	<Geo1
		class='gsap-footer-svg absolute top-[5%] left-[60%] h-[30%] w-auto'
	/>
	<Geo2
		class='gsap-footer-svg absolute bottom-[8%] left-[50%] h-[50%] w-auto'
	/>
	<Solar
		class='max-lg:hidden gsap-footer-svg absolute top-[15%] left-[75%] h-[5%] w-auto'
	/>
	<Solar
		class='max-lg:hidden gsap-footer-svg absolute top-[25%] left-[85%] h-[5%] w-auto'
	/>
	<Wind
		class='max-lg:hidden gsap-footer-svg absolute top-[40%] left-[72%] h-[5%] w-auto'
	/>
	<Wind
		class='max-lg:hidden gsap-footer-svg absolute top-[50%] left-[60%] h-[5%] w-auto'
	/>
	<Wind
		class='max-lg:hidden gsap-footer-svg absolute top-[70%] left-[80%] h-[5%] w-auto'
	/>
</footer>

<script>
	import { gsap } from 'gsap';

	let tl = gsap.timeline({
		scrollTrigger: {
			trigger: '.gsap-footer-container',
			start: 'top 30%',
		},
	});
	tl.add(
		gsap.from('.gsap-footer-svg', {
			duration: 1,
			opacity: 0,
			y: 50,
			stagger: 0.2,
			ease: 'power2.out',
		})
	).add(
		gsap.from('.gsap-footer-element', {
			duration: 1,
			opacity: 0,
			y: 50,
			stagger: 0.2,
			ease: 'power2.out',
		}),
		'<'
	);
</script>
