---
import SmartopsBlack from '../Svg/Logos/SmartopsBlack.astro';
---

<header class='absolute top-0 left-0 z-30'>
	<a href='/'>
		<SmartopsBlack class='w-[200px] h-auto absolute left-sm top-sm' />
	</a>
</header>
