---
import SmartopsBlack from '../Svg/Logos/SmartopsBlack.astro';
import ShortArrow from '../Svg/Icons/ShortArrow.astro';
---

<header
	class='absolute top-0 left-0 z-30 flex justify-center w-full pt-sm'>
	<a
		href='/'
		class='flex gap-xs items-center'>
		<ShortArrow class='w-[25px] h-auto' />
		<SmartopsBlack class='w-[200px] h-auto' />
	</a>
</header>
