---
import SmartopsBlack from '../Svg/Logos/SmartopsBlack.astro';
import Menu from './Menu.astro';
import GsapMenuAnim from '../scripts/gsapMenuAnim.astro';
---

<header class='absolute top-0 left-0 z-30 flex justify-center items-center gap-md w-full pt-sm'>
	<a href='/'>
		<SmartopsBlack class='w-[250px] h-auto' />
	</a>
	<div class='open-menu-button flex flex-col justify-between w-[40px] h-[15px] cursor-pointer'>
		<div class='border border-dark bg-dark border-[2px] w-full'></div>
		<div class='border border-dark bg-dark border-[2px] w-full'></div>
	</div>
	<Menu />
</header>
<GsapMenuAnim />
