---
import TechnologyButton from '../reusable/TechnologyButton.astro';
---

<section class='px-sm py-lg'>
	<p class='subtitle max-w-normal mx-auto'>
		smartOPS ist 2020 als Spin-off erfahrener Ingenieure und
		Unternehmer:innen entstanden, die seit mehr als 30 Jahren im
		Bereich Erneuerbare Energien aktiv sind. Aus diesem
		Erfahrungsschatz haben wir eine ganzheitliche Arbeitsweise
		entwickelt, die technische, wirtschaftliche und ökologische
		Aspekte gleichermaßen berücksichtigt. Unser Team vereint
		fundiertes Design & Engineering-Know-how mit innovativem
		Out-of-the-Box-Denken – und setzt damit neue Maßstäbe in der
		Planung und Umsetzung nachhaltiger Energielösungen.
	</p>
	<div class='h-lg'></div>
	<div class='flex flex-col gap-sm max-w-normal mx-auto'>
		<div>Verfügbare Technologien</div>
		<div class='flex gap-xs flex-wrap'>
			<TechnologyButton>Solarenergie</TechnologyButton>
			<TechnologyButton>Windenergie</TechnologyButton>
			<TechnologyButton>Hybrid- & Speichersysteme</TechnologyButton>
			<TechnologyButton>Energiesysteme</TechnologyButton>
			<TechnologyButton>Elektromobilität</TechnologyButton>
		</div>
	</div>
</section>
