---
import Info from '../Svg/Icons/Info.astro';
---

<section
	class='py-lg px-sm flex flex-col items-center justify-between gap-md md:gap-lg lg:gap-xl gsap-kpi-container relative text-light min-h-[100vh]'>
	<div class='absolute inset-0 w-full h-full bg-black z-[-1]'>
		<img
			src='https://a.storyblok.com/f/316521/5464x3640/be2dbaa15b/smartops_bg_solar.jpeg/m/filters:quality(10)'
			alt='Solarfeld in der Wüste, SmartOps Referenz, Solarpark'
			class='absolute inset-0 w-full h-full object-cover opacity-[0.7]'
		/>
	</div>
	<h2 class='subtitle'>Unsere Kennzahlen</h2>
	<div
		class='max-w-normal w-full mx-auto flex flex-col md:flex-row justify-between gap-sm'>
		<div
			class='flex flex-col gap-xs p-sm group'
			tabindex='0'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>50</div>
				<div>+</div>
			</div>
			<div class='flex gap-xs items-center'>
				<div>Länder</div>
				<Info class='cursor-pointer' />
			</div>
			<div
				class='text-[12px] leading-normal hidden group-focus:block bg-dark rounded p-[.3rem]'>
				(internationales Know-how für Ihr Projekt vor-Ort)
			</div>
		</div>
		<div
			class='flex flex-col gap-xs p-sm group'
			tabindex='0'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>800</div>
				<div>+</div>
			</div>
			<div class='flex gap-xs items-center'>
				<div>Erneuerbare Energieprojekte</div>
				<Info class='cursor-pointer' />
			</div>
			<div
				class='text-[12px] leading-normal hidden group-focus:block bg-dark rounded p-[.3rem]'>
				(Teilleistungen oder Begleitung von A-Z)
			</div>
		</div>
		<div
			class='flex flex-col gap-xs p-sm group'
			tabindex='0'>
			<div class='flex title'>
				<div class='title gsap-kpi-numbers'>2000</div>
				<div>+</div>
			</div>
			<div class='flex gap-xs items-center'>
				<div>Realisierte Anschlussleistung in MW</div>
				<Info class='cursor-pointer' />
			</div>
			<div
				class='text-[12px] leading-normal hidden group-focus:block bg-dark rounded p-[.3rem]'>
				(Projektgrößen von wenigen kW bis einigen 100 MW)
			</div>
		</div>
	</div>
	<div></div>
</section>

<script>
	import { gsap } from 'gsap';

	const numbers = document.querySelectorAll('.gsap-kpi-numbers');
	numbers.forEach((el, i) => {
		gsap.fromTo(
			el,
			{
				textContent: 0,
			},
			{
				duration: 3,
				textContent: i === 0 ? 50 : i == 1 ? 800 : 2000,
				ease: 'power2.out',
				snap: { textContent: 1 },
				scrollTrigger: {
					trigger: '.gsap-kpi-container',
					start: 'center 70%',
				},
			}
		);
	});
</script>
