<section
	class='py-lg px-sm flex flex-col items-center justify-between gap-xl gsap-kpi-container'>
	<h2 class='subtitle'>Unsere KPI's</h2>
	<div
		class='max-w-normal w-full mx-auto flex justify-between gap-sm'>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>50</div>
				<div>+</div>
			</div>
			<div>Länder</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>800</div>
				<div>+</div>
			</div>
			<div>Erneuerbare Energieprojekte</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='title gsap-kpi-numbers'>2000</div>
				<div>+</div>
			</div>
			<div>Realisierte Anschlussleistung in MW</div>
		</div>
	</div>
	<div></div>
</section>

<script>
	import { gsap } from 'gsap';

	const numbers = document.querySelectorAll('.gsap-kpi-numbers');
	numbers.forEach((el, i) => {
		gsap.fromTo(
			el,
			{
				textContent: 0,
			},
			{
				duration: 3,
				textContent: i === 0 ? 50 : i == 1 ? 800 : 2000,
				ease: 'power2.out',
				snap: { textContent: 1 },
				scrollTrigger: {
					trigger: '.gsap-kpi-container',
					start: 'center 70%',
				},
			}
		);
	});
</script>
