<section
	class='py-lg px-sm flex flex-col items-center justify-between gap-xl'>
	<h2 class='subtitle'>Unsere KPI's</h2>
	<div
		class='max-w-normal w-full mx-auto flex justify-between gap-sm'>
		<div class='flex flex-col gap-xs'>
			<div class='title'>50+</div>
			<div>Länder</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='title'>800+</div>
			<div>Erneuerbare Energieprojekte</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='title'>2.000+</div>
			<div>Realisierte Anschlussleistung in MW</div>
		</div>
	</div>
	<div></div>
</section>
