<section
	class='py-lg px-sm flex flex-col items-center justify-between gap-md md:gap-lg lg:gap-xl gsap-kpi-container relative text-light'>
	<div class='absolute inset-0 w-full h-full bg-black z-[-1]'>
		<img
			src='https://a.storyblok.com/f/316521/5464x3640/be2dbaa15b/smartops_bg_solar.jpeg'
			alt='Solarfeld in der Wüste, SmartOps Referenz, Solarpark'
			class='absolute inset-0 w-full h-full object-cover opacity-[0.7]'
		/>
	</div>
	<h2 class='subtitle'>Unsere KPI's</h2>
	<div
		class='max-w-normal w-full mx-auto flex flex-col md:flex-row justify-between gap-sm'>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>50</div>
				<div>+</div>
			</div>
			<div>Länder</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='gsap-kpi-numbers'>800</div>
				<div>+</div>
			</div>
			<div>Erneuerbare Energieprojekte</div>
		</div>
		<div class='flex flex-col gap-xs'>
			<div class='flex title'>
				<div class='title gsap-kpi-numbers'>2000</div>
				<div>+</div>
			</div>
			<div>Realisierte Anschlussleistung in MW</div>
		</div>
	</div>
	<div></div>
</section>

<script>
	import { gsap } from 'gsap';

	const numbers = document.querySelectorAll('.gsap-kpi-numbers');
	numbers.forEach((el, i) => {
		gsap.fromTo(
			el,
			{
				textContent: 0,
			},
			{
				duration: 3,
				textContent: i === 0 ? 50 : i == 1 ? 800 : 2000,
				ease: 'power2.out',
				snap: { textContent: 1 },
				scrollTrigger: {
					trigger: '.gsap-kpi-container',
					start: 'center 70%',
				},
			}
		);
	});
</script>
