<section class='px-sm py-lg'>
	<div class='max-w-normal mx-auto flex flex-col gap-md'>
		<h2 class='subtitle'>Leistungsfelder</h2>
		<div class='flex gap-md md:gap-lg lg:gap-xl flex-col md:flex-row'>
			<ul class='flex flex-col gap-sm'>
				<h3 class='text-green font-bold'>Sparring</h3>
				<li class='pl-sm'>Management Consulting</li>
				<li class='pl-sm'>Advisory</li>
				<li class='pl-sm'>Review & 2nd Opinion</li>
				<li class='pl-sm'>Coaching</li>
			</ul>
			<ul class='flex flex-col gap-sm'>
				<h3 class='text-green font-bold'>Projekte & Lösungen</h3>
				<li class='pl-sm'>Konzeptstudien</li>
				<li class='pl-sm'>Potential- & Ertragsstudien</li>
				<li class='pl-sm'>Umweltstudien</li>
				<li class='pl-sm'>Machbarkeitsstudien</li>
				<li class='pl-sm'>Engineering & Design (Entwurf)</li>
				<li class='pl-sm'>Spezifikation & Ausschreibung</li>
				<li class='pl-sm'>Baubetreuung</li>
				<li class='pl-sm'>Audits & Abnahme</li>
			</ul>
		</div>
	</div>
</section>
