---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Default from '../../layouts/Default.astro';
import Landing from '../../components/sections/sparring/landing.astro';
import Cta from '../../components/sections/cta.astro';

export async function getStaticPaths() {
	const storyblokApi = useStoryblokApi();

	const { data } = await storyblokApi.get('cdn/stories', {
		starts_with: 'sparring/',
		resolve_relations:
			'smartops_page.page_showcase_project,page_section_project_references.section_references',
	});

	return data.stories.map((story: any) => ({
		params: {
			slug: story.slug,
		},
		props: {
			story,
		},
	}));
}
interface Props {
	story: any;
}

const { story } = Astro.props;
const cuttedSlug = story.full_slug.split('/')[0];
const slug = cuttedSlug.charAt(0).toUpperCase() + cuttedSlug.slice(1);
---

<Default>
	<div class='flex flex-col gap-lg pb-lg'>
		<Landing content={story.content} />
		<StoryblokComponent blok={story.content} />
		<Cta
			story={story}
			slug={slug}
		/>
	</div>
</Default>
