---
import { renderRichText } from '@storyblok/astro';
import { resizeImage } from '../utils/useImageOptimization';
const { blok } = Astro.props;
---

<div class='max-w-normal mx-auto w-full grid grid-cols-1 sm:grid-cols-2 gap-md'>
	<div class='flex flex-col gap-sm'>
		<h3 class='font-normal subtitle'>{blok.section_title}</h3>
		<div
			class='flex flex-col gap-xs max-w-sm-paragraph'
			set:html={renderRichText(blok.section_description)}
		/>
	</div>
	<img
		loading='lazy'
		class='w-full h-auto'
		src={resizeImage(blok.section_image.filename)}
		alt={blok.section_image.alt}
	/>
</div>
