---
import { resizeImage } from '../utils/useImageOptimization';
const { blok } = Astro.props;
console.log(blok);
---

<div class='max-w-normal mx-auto w-full grid grid-cols-1 sm:grid-cols-2 gap-md sm:gap-lg'></div>
