---
import type { SmartopsPage } from '../utils/useSchemas';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface Props {
	blok: any;
}

const { blok } = Astro.props;
---

<div class='px-sm sm:px-lg flex flex-col gap-lg'>
	{
		blok.page_blocks.map((block: any) => (
			<StoryblokComponent
				blok={block}
				pageTitle={blok.page_title}
			/>
		))
	}
</div>
