---
import DefaultDark from '../layouts/DefaultDark.astro';
import { resizeImage } from '../utils/useImageOptimization';
import Infobanner from '../components/sections/data-center/infobanner.astro';
import Cards from '../components/sections/data-center/cards.astro';
import DataGermany from '../components/sections/data-center/data-germany.astro';
---

<DefaultDark>
	<div class='flex flex-col gap-md relative py-lg'>
		<img
			class='w-full min-h-screen object-cover absolute left-0 top-0 z-[-1]'
			src={resizeImage('https://a.storyblok.com/f/316521/3840x2152/b58326ae7a/windpark_sea.jpg')}
			alt='Windpark im Meer, Stromerzeugung'
		/>
		<div class='flex flex-col gap-xs'>
			<div class='bg-lavender px-sm'>
				<div class='max-w-big mx-auto flex gap-lg flex-wrap py-xs'>
					<h1 class='font-bold'>Data-Center</h1>
					<a href='#data-center-section-ueberblick'>Überblick</a>
					<a href='#data-center-section-ueberblick'>Stand / Planung</a>
					<a href='#data-center-section-ueberblick'>Speicher</a>
					<a href='#data-center-section-ueberblick'>Komplette Stromerzeugung DE</a>
					<a href='#data-center-section-ueberblick'>Links</a>
				</div>
			</div>
			<Infobanner />
		</div>
		<div class='text-center py-lg'>
			<div>Information EE</div>
			<div class='title'>Data-Center</div>
		</div>
		<Cards />
		<DataGermany />
		<Infobanner />
	</div>
</DefaultDark>
