---
import Legals from '../layouts/Legals.astro';
---

<Legals>
	<section
		class='max-w-normal mx-auto flex flex-col gap-sm px-sm py-lg'>
		<h1 class='title'>Impressum</h1>
		<div class='flex flex-col gap-sm'>
			<h2 class='subtitle'>Angaben gemäß § 5 TMG</h2>
			<p>
				smartOPS GmbH <br />
				Breitscheidstraße 6 <br />
				34119 Kassel
			</p>
			<p>
				Handelsregister: 16212 <br />
				Registergericht: Amtsgericht Kassel
			</p>
			<p>
				<b>Vertreten durch:</b>
				<br />
				Stefan Chun
			</p>
		</div>
		<div>
			<h2 class='subtitle'>Kontakt</h2>
			<p>
				Telefon: +49-561-34337 <br />
				E-Mail: info@smartops.de
			</p>
		</div>
		<div>
			<h2 class='subtitle'>Umsatzsteuer-ID</h2>
			<p>
				Umsatzsteuer-Identifikationsnummer gemäß § 27 a
				Umsatzsteuergesetz: <br />
				DE 292 105 341
			</p>
		</div>
		<div>
			<h2 class='subtitle'>EU-Streitschlichtung</h2>
			<p>
				Die Europäische Kommission stellt eine Plattform zur
				Online-Streitbeilegung (OS) bereit: <a
					class='font-bold'
					href='https://ec.europa.eu/consumers/odr/'
					target='_blank'>
					https://ec.europa.eu/consumers/odr/</a
				>. <br />
				Unsere E-Mail-Adresse finden Sie oben im Impressum.
			</p>
		</div>
		<div>
			<h2 class='subtitle'>
				Verbraucher­streit­beilegung/Universal­schlichtungs­stelle
			</h2>
			<p>
				Wir sind nicht bereit oder verpflichtet, an
				Streitbeilegungsverfahren vor einer
				Verbraucherschlichtungsstelle teilzunehmen.
			</p>
			<p>
				Quelle: <a
					class='font-bold'
					href='https://www.e-recht24.de/'
					target='_blank'
					>e-recht24.de</a
				>
			</p>
		</div>
	</section>
</Legals>
