<section
	id='data-center-section-battery'
	class='px-sm max-w-normal mx-auto w-full flex flex-col gap-md'>
	<div class='flex gap-md flex-wrap'>
		<div class='battery-tab flex flex-col group cursor-pointer'>
			<div>Speicherkapazität</div>
			<div class='indicator group-hover:opacity-100 h-[2px] bg-green'></div>
		</div>
		<div class='battery-tab flex flex-col group cursor-pointer'>
			<div>Speicherleistung</div>
			<div class='indicator opacity-0 group-hover:opacity-100 h-[2px] bg-green'></div>
		</div>
		<div class='battery-tab flex flex-col group cursor-pointer'>
			<div>Anzahl der Batteriespeicher</div>
			<div class='indicator opacity-0 group-hover:opacity-100 h-[2px] bg-green'></div>
		</div>
		<div class='battery-tab flex flex-col group cursor-pointer'>
			<h3>Geplante Speicher</h3>
			<div class='indicator opacity-0 group-hover:opacity-100 h-[2px] bg-green'></div>
		</div>
	</div>
	<div class='battery-section flex flex-col gap-lg'>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Speicherkapazität</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Zubau Speicherkapazität</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
	</div>
	<div class='hidden battery-section flex flex-col gap-lg'>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Speicherleistung</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Zubau Speicherleistung</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
	</div>
	<div class='hidden battery-section flex flex-col gap-lg'>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Anzahl der Batteriespeicher</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Zubau Anzahl der Batteriespeicher</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
	</div>
	<div class='hidden battery-section flex flex-col gap-lg'>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Geplante Batteriespeicherkapazität</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
		<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm'>
			<div class='flex flex-col gap-xs'>
				<h3 class='subtitle'>Geplante Batteriekapazität</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias eligendi ipsam rem
					unde est, at nostrum quidem dicta, quod maiores nulla ea accusantium delectus
					necessitatibus velit, voluptates iste id illo.
				</p>
			</div>
			<div class='col-span-2 w-full'>
				<iframe
					loading='lazy'
					src=''
					class='battery-iframe w-full aspect-video'
				></iframe>
			</div>
		</div>
	</div>
</section>
<script>
	const sources = [
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598778603998&to=1759223403998&panelId=52',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598778745507&to=1759223545507&panelId=10',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598778952534&to=1759223752534&panelId=15',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598780011070&to=1759224811070&panelId=16',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598779134601&to=1759223934601&panelId=44',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/JFKs3f97z/speicherstatus?orgId=1&from=1598779163567&to=1759223963567&panelId=71',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/mA-RvBBVk/geplante-batteriespeicher?orgId=1&from=1756459388553&to=1851240188553&panelId=2',
		'https://scarica.isea.rwth-aachen.de/mastr/d-solo/mA-RvBBVk/geplante-batteriespeicher?orgId=1&from=1756459442042&to=1851240242042&panelId=4',
	];
	document.addEventListener('DOMContentLoaded', () => {
		const tabs = document.querySelectorAll('.battery-tab');
		const sections = document.querySelectorAll('.battery-section');

		sections[0].querySelectorAll('.battery-iframe').forEach((iframe: any, index) => {
			iframe.src = sources[index];
		});

		tabs.forEach((tab, index) => {
			tab.addEventListener('click', () => {
				const sectionIframes = sections[index].querySelectorAll('.battery-iframe');
				const sectionIndicator = tab.querySelector('.indicator');

				sectionIframes.forEach((iframe: any) => {
					if (iframe.src === sources[index]) return;
					iframe.src = sources[index];
					console.log(sources[index]);
				});

				sections.forEach((section) => section.classList.add('hidden'));
				sections[index].classList.remove('hidden');

				tabs.forEach((t) => t.querySelector('.indicator')?.classList.add('opacity-0'));
				sectionIndicator?.classList.remove('opacity-0');
			});
		});
	});
</script>
