<div class='max-w-normal mx-auto w-full flex flex-col gap-sm'>
	<div class='flex flex-col gap-sm'>
		<h2>Deutschland gesamt</h2>
		<p>
			Wir prognostizieren den geplanten Ausbau von geplanten EE-Anlagen basierend auf den Zielen der
			Bundesregierung Deutschland zum Zeitpunkt (DATUM). Wir stellen die tatsächliche Entwicklung
			Tagesaktuell gegenüber.
		</p>
	</div>
</div>
