<section
	id='data-center-section-planing'
	class='max-w-normal mx-auto w-full flex flex-col gap-sm px-sm'>
	<div class='flex flex-col gap-sm'>
		<h2 class='subtitle'>Deutschland gesamt</h2>
		<p class='max-w-sm-paragraph'>
			Wir prognostizieren den geplanten Ausbau von geplanten EE-Anlagen basierend auf den Zielen der
			Bundesregierung Deutschland zum Zeitpunkt (DATUM). Wir stellen die tatsächliche Entwicklung
			Tagesaktuell gegenüber.
		</p>
	</div>
	<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-sm'>
		<div class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl'>Card 1</div>
		<div
			class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl md:col-span-2 md:row-span-2 md:col-start-1 md:row-start-1'>
			Card 2
		</div>
		<div class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl'>Card 3</div>
		<div class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl'>Card 4</div>
		<div class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl'>Card 5</div>
		<div class='bg-lavender p-md w-full aspect-[3/2] rounded-2xl'>Card 6</div>
	</div>
</section>
