---
import { smardApiFilters } from '../../../utils/useLists';
import type { FilterOutput } from '../../../utils/useSmardApi';
interface Props {
	filterOutputs: FilterOutput[];
}
const { filterOutputs } = Astro.props;
---

<section class='bg-lavender px-sm'>
	<div class='max-w-big mx-auto flex gap-sm sm:gap-md flex-wrap py-sm'>
		{
			smardApiFilters
				.filter((filter) => filter.category === 'renewable')
				.map((filter) => {
					const output = filterOutputs.find((f: FilterOutput) => f.filterId === filter.id);
					return (
						<div class='flex gap-xs items-center'>
							<div
								class={`shrink-0 h-sm aspect-square rounded-full`}
								style={`background-color: ${filter.color}`}
							/>
							<div>{filter.name}</div>
							<div>{output ? output.totalPercentage : '0%'}</div>
						</div>
					);
				})
		}
	</div>
</section>
<div class='flex flex-col gap-xs text-gray px-sm'>
	<div class='current-time-locale'>---</div>
	<div>Marktstammdaten aktuell</div>
	<div>Energieerzeugung DE in Tsd. MWh</div>
	<div>smard.de API</div>
</div>
<script>
	function getCurrentTimeLocale() {
		const now = new Date();
		const datePart = now.toLocaleDateString('de-DE', {
			timeZone: 'Europe/Berlin',
			year: 'numeric',
			month: '2-digit',
			day: '2-digit',
		});
		const timePart = now.toLocaleTimeString('de-DE', {
			timeZone: 'Europe/Berlin',
			hour: '2-digit',
			minute: '2-digit',
		});
		const displays = document.querySelectorAll('.current-time-locale');
		if (displays) {
			displays.forEach((display: any) => {
				display.innerText = `${timePart} Uhr MEZ ${datePart}`;
			});
		}
	}
	document.addEventListener('DOMContentLoaded', () => {
		setInterval(getCurrentTimeLocale, 3000);
	});
</script>
