---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';
import Meta from '../components/scripts/meta.astro';
import Footer from '../components/sections/Footer.astro';
import Gsap from '../components/scripts/gsap.astro';
import ActivateEnergy from '../components/animation/ActivateEnergy.astro';
import Seo from '../components/scripts/seo.astro';
import Header from '../components/sections/Header.astro';
---

<!doctype html>
<html lang='de'>
	<head>
		<Meta />
		<Analytics />
		<Seo />
		<Gsap />
	</head>
	<body class='relative'>
		<Header />
		<ActivateEnergy />
		<main class='min-h-screen'>
			<slot />
		</main>
		<Footer />
	</body>
</html>
