---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';
import Footer from '../components/sections/Footer.astro';
import Gsap from '../components/scripts/gsap.astro';
import ActivateEnergy from '../components/animation/ActivateEnergy.astro';
import Seo from '../components/scripts/seo.astro';
---

<!doctype html>
<html lang='de'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicon-32x32.png'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<Analytics />
		<Seo />
		<Gsap />
	</head>
	<body>
		<ActivateEnergy />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
