---
import '../styles/global.css';
import Meta from '../components/scripts/meta.astro';
import HeaderDark from '../components/sections/HeaderDark.astro';
import Footer from '../components/sections/Footer.astro';
import Gsap from '../components/scripts/gsap.astro';
import ActivateEnergy from '../components/animation/ActivateEnergy.astro';
import Seo from '../components/scripts/seo.astro';
import Highcharts from '../components/scripts/highcharts.astro';
---

<!doctype html>
<html lang='de'>
	<head>
		<Meta />
		<Seo />
		<Gsap />
		<Highcharts />
	</head>
	<body class='relative'>
		<HeaderDark />
		<ActivateEnergy />
		<main class='min-h-screen'>
			<slot />
		</main>
		<Footer />
	</body>
</html>
