<div class='flex items-center gap-lg relative mt-lg flex-wrap'>
	<h1 class='subtitle'>Referenzen</h1>
	<div class='flex gap-lg items-center flex-wrap font-bold text-gray'>
		<a href='/referenzen/?filter=technology_solar'>Solar</a>
		<a href='/referenzen/?filter=technology_wind'>Wind</a>
		<a href='/referenzen/?filter=technology_speicher'>Speicher</a>
		<a href='/referenzen/?filter=technology_esys'>ESYS</a>
		<a href='/referenzen/?filter=technology_emobil'>eMobil</a>
	</div>
</div>
