---
import { projectCategories } from '../../../utils/useLists';
import { resizeImage } from '../../../utils/useImageOptimization';

interface Props {
	projects: any[];
}
const { projects } = Astro.props;
---

<div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full gap-xs'>
	{
		projects.map((project) => (
			<a
				href={`/${project.full_slug}`}
				class='w-full h-full relative group text-white cursor-pointer'>
				<img
					loading='lazy'
					class='w-full h-full object-cover'
					src={resizeImage(project.content.project_image.filename)}
					alt={project.content.project_image.alt}
				/>
				<div class='hidden group-hover:block absolute inset-0 bg-black opacity-30 ' />
				<div class='hidden group-hover:block absolute inset-0 backdrop-blur' />
				<div class='absolute left-sm bottom-sm bg-black  px-xs '>
					{project.content.project_title}
				</div>
				<div class='hidden group-hover:flex gap-xs absolute top-[50%] translate-y-[-50%] left-sm right-sm'>
					{project.content.project_categories.map((category: any) => (
						<div>
							{project.content.project_categories[project.content.project_categories.length - 1] !==
							category
								? projectCategories.find((cat) => cat.value === category)?.name + ' |'
								: projectCategories.find((cat) => cat.value === category)?.name}
						</div>
					))}
				</div>
			</a>
		))
	}
</div>
